easyocr==1.7.2
fastapi==0.139.2
numpy==2.3.5
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
paddleocr==3.7.0
paddlepaddle==3.3.1
pydantic==2.13.4
python-dotenv==1.2.2
python-multipart==0.0.32
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
uvicorn==0.50.1
alembic==1.18.5
ultralytics==8.4.95